<h3 style="text-align: center">{{question.content}}</h3>

<div style="text-align: center">
    {{totalVote}} vote 

Yes: {{question.Yes}}
No: {{question.no}}

</div>

<div style="text-align: center">
    <a href="/">
        <button style="
            background-color:rgb(0, 255, 98);
            font-weight: bold;
            color: white;
            width: 100px;
            height: 30px;
            border-radius: 10px;      
            cursor: pointer;
            border: 1px solid;  
        ">
            cau hoi khac
        </button>
    </a>
</div>
